/* .bg-gradient-animate {
  background: linear-gradient(-45deg, #1e3a8a, #9333ea, #ec4899, #f97316);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
